
*{
    margin: 0;
    padding: 0;
}

ul,ol li,dl dt{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ccb6a1;
}

div{
    margin: 0 auto;
}

input{
    border: 0;
}

/* 网页的头部 */

#top{
    width: 1066px;
    height: 78px;
}

#top h1{
    width: 310px;
    height: 78px;
    background: url(../images/logo.png);
    float: left;
}
#top h1 a{
    display: block;
    width: 310px;
    height: 78px;
}

#top ul{
    width: 488px;
    height: 78px;
    float: left;
    margin-left: 68px;
}

#top ul li{
    height: 78px;
    float: left;
    text-indent: -9999px;
    background: url(../images/nav.png);
}

#top ul li a{
    display: block;
    height: 100%;
}

#top ul .top_li_one,#top ul .top_li_one a{
    width: 100px;
    
}

#top ul .top_li_one:hover{
    background: url(../images/nav1.png) no-repeat;
}

#top ul .top_li_two,#top ul .top_li_two a{
    width: 124px;
    background-position: -100px 0;
}

#top ul .top_li_two:hover{
    background: url(../images/nav1.png) no-repeat;
    background-position: -100px 0;
    
    
}

#top ul .top_li_three,#top ul .top_li_three a{
    width: 146px;
    background-position: -224px 0;
}

#top ul .top_li_three:hover{
    background: url(../images/nav1.png) no-repeat;
    background-position: -224px 0;
}

#top ul .top_li_four,#top ul .top_li_four a{
    width: 118px;
    background-position: -370px 0;
}

#top ul .top_li_four:hover{
    background: url(../images/nav1.png) no-repeat;
    background-position: -370px 0;
}

#top .top_r{
    width: 142px;
    height: 78px;    
    float: right;
}

#top .top_r p{
    font-size: 12px;
    text-align: right;
    margin-top: 14px;
}

#top .top_r p a{
    display: inline-block;
    color: #9f9589;
}

#top .top_r p span{
    display: inline-block;
    color: #ccb69f;
    margin: 0 6px;
}

#top .top_r .top_r_s{
    width: 140px;
    height: 22px;
    border: 1px solid #ccb69f;
    margin-top: 8px;
    /* position: relative; */
}

#top .top_r .top_r_s .top_r_txt{
    width: 117px;
    height: 22px;
    border: 0;
    float: left;
    outline: none;
}

#top .top_r .top_r_s .top_r_btn{
    width: 23px;
    height: 22px;
    border: 0;
    float: left;
    outline: none;
    background: url(../images/search-btn[1].png) no-repeat;
    background-position: 0 3px;
}

#top .top_r .top_r_s .top_r_btn:hover{
    background: url(../images/search-btn[1].png) no-repeat;
    background-position: 0 -17px;
}

/* 网页的banner */

#banner{
    width: 100%;
    height: 396px;
    margin: 0 auto;
    overflow: hidden;
    
}

#banner .banner_pic{
    margin: 0 auto;
    width: 100%;
    height: 360px;
}

#banner img{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#banner .banner_txt{
    width: 1046px;
    height: 36px;
    padding-left: 20px;
    margin: 0 auto;
    font-size: 14px;
    color: #000;
    line-height: 36px;
    position: relative;
}

#banner p span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/icon-speaker[1].png) no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}


#banner p i{
    display: inline-block;
    width: 40px;
    height: 21px;
    background: url(../images/icon-live-open[1].png) no-repeat;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -20px;
}

#banner p i:hover{
    background: url(../images/slider-close[1].png) no-repeat
}

#banner .banner_txt ul{
    width: 94px;
    height: 16px;
    position: absolute;
    right: 0;
    top: -56px;
}

#banner ul li{
    width: 16px;
    height: 16px;
    float: left;
    background: url(../images/banner-counter[1].png) no-repeat;
}

#banner ul li:hover{
    background: url(../images/banner-counter-on[1].png) no-repeat;
}
#banner ul .cir1{
    margin-right: 10px;
}

#banner ul .cir2,#banner ul .cir2:hover{
    margin-right: 10px;
    background-position: -26px 0;
}

#banner ul .cir3,#banner ul .cir3:hover{
    margin-right: 10px;
    background-position: -52px 0;
}

#banner ul .cir4,#banner ul .cir4:hover{
    background-position: -78px 0;
}

/* 网页的content */

#contentWrap{
    width: 100%;
    height: 100%;
    background: #d6dae3;
}

.content{
    width: 1066px;
    height: 100%;
    margin: 0 auto;
    background: olive;
    padding-top: 20px;
}

.content .content_l{
    width: 782px;
    height: 100%;
    margin: 0 20px 20px 0;
    background: palevioletred;
}

.content .content_l .content_l_lesson{
    width: 742px;
    height: 316px;
    padding: 20px;
    background: #f2f1ef;
}

.content_l .content_l_lesson h2{
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

.content_l .content_l_lesson h2 i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url(../images/icon-lesson[1].png) no-repeat;
    position: relative;
    top: 2px;
}

.content_l .content_l_lesson h2 a{
    display: block;
    font-size: 12px;
    color: #898989;
    float: right;
}

.content_l .content_l_lesson dl{
    width: 226px;
    height: 272px;
    float: left;
    margin-top: 18px;
}

.content_l .content_l_lesson .lesson_mid{
    margin-left: 31px;
    margin-right: 31px;
}

.content_l .content_l_lesson dl dt{
    width: 226px;
    height: 160px;
}

.content_l .content_l_lesson dl dt img{
    width: 100%;
    height: 100%;
}

.content_l_lesson dl dt .lesson_pic1{
    border-bottom: 3px solid #1fc0ee;
}

.content_l_lesson dl dt .lesson_pic2{
    border-bottom: 3px solid #f7a444;
}

.content_l_lesson dl dt .lesson_pic3{
    border-bottom: 3px solid #8bbe00;
}

.content_l .content_l_lesson dl dd{
    width: 200px;
    height: 80px;
    padding: 16px 16px 14px 10px;
    background: #ffffff;
}

.content_l .content_l_lesson dl dd h3{
    font-size: 14px;
    font-weight: normal;
    color: #010101;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content_l_lesson dl dd p{
    padding-top: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    line-height: 22px;
    width: 100%;
    /* height: 54px; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .content .content_r{
    width: 266px;
    height: 100%;
    background: darksalmon;
    float: right;
} */